@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click on the Clients button above to get started updating your book of business.</p>
</div>

<p><img src="~/images/Financial_Planning.png" /> </p>



