@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site should only be able to be viewed by the Financial Advisor and/or Brokerage Firm/Financial Instituion that you work for.</p>
